<!DOCTYPE html>
<html>
	<head>
		<title>Essay Log Book </title>
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="http://clipart-library.com/images/6cyXxxnxi.png">
	</head>
	<body>
		<div id="app">
			<div id="top">
				<div class="forms">
					<h1>Log an Essay</h1>
					Student: <select>
						<option v-for="student in Students">{{student.fname}} {{student.lname}}</option>
					</select>
					Reason: <input type="text" v-model="inputReason">
					Size: <input type="number" v-model="inputSize">
					From: <input type="text" v-model="inputFrom">
					Date: <input type="date" class="question" v-model="inputEdate">
					
					Selected Student:
					<button v-on:click="createEssay">Log</button>
				</div>
			</div>
			<div id="bottom">
				<h1>Essays</h1>
				<ul>
					<li v-for="essay in Essays" :style="[essay.completed ? {'background-color': '#A2E4B8'} : {'background-color': '#ff7f7f'}]">Student: {{essay.student}}<br><br>
						Size: {{essay.size}}<br><br>
						Reason: {{essay.reason}}<br><br>
						Date: {{essay.time}}<br><br>
						From: {{essay.from}}<br><br>
						Completed: {{essay.completed}}
						<label class="switch">
							<input v-model="essay.completed" @change="markEssay(essay)" type="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
