<!DOCTYPE html>
<html>
	<head>
		<title>Workouts </title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<h1>Create a New Student Below</h1>
			First Name: <input type="text" v-model="inputFname">
			Last Name: <input type="text" v-model="inputLname">
			Birthday: <input type="date" v-model="inputBirthday">
			Date of Arrival: <input type="date" v-model="inputDoa">
			<button v-on:click="updateStudent">Save</button>
			<h2>Students</h2>
			<ul>
				<li v-for="exercise in workouts">Name: {{exercise.name}} <br><br>Muscle-Group: {{exercise.muscle}} <br><br>Sets: {{exercise.sets}} <br><br>Reps: {{exercise.reps}} <br><br>Weight: {{exercise.weight}}</li>
			</ul>
			<ul>
				<li v-for="student in Students">First Name: {{student.fname}}<br><br>Last Name: {{student.fname}}<br><br>Birthday: {{student.birthday}}<br><br>Date of Arrival: {{student.doa}}<br><br>Points: {{student.points}}</li>
			</ul>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>
